@import url('https://fonts.googleapis.com/css?family=Cuprum');

body {
  background-color: #002138;
}

body * {
  border: solid 1px red;
}

#container {
  max-width: 1280px;
  margin: 0 auto;
}

#top {
  width: 100%;
}

a { 
  color: white;
  text-decoration: none;
}
  
a.link:hover {
  color: orange;
}

#top_table {
  width: 100%;
}

#top_table td {
  font-family: "Cuprum";
  font-size: 25pt;
  color: #FFFFFF;
  border: 0pt solid white;
}

#back {
  width: 4%;
  padding: 0;
}

#back div {
  position: relative;
  height: 1em;
}

#back img {
  position: relative;
  height: 1em;
  margin-right: 0.3em;
}

.img_hover {
  display: none;
}

#back a:hover .img_hover {
  display: inline-block;
}

#back a:hover .img_normal {
  display: none;
}

#top_table td:nth-of-type(2) {
  width: auto;
}

#search {				
  font-family: 'Cuprum';
  font-size: 20pt;
  color: rebeccapurple;	
  background-color: #C4C4C4;
  width: 98%;
}

#login {
  width: 5%;
}

#bar {
  width: 1%;
}

#signup {
  width: 5%;
}

#content {
  font-family: "Cuprum";
  color: #FFFFFF;
  margin-top: 3em;
}

#heading {
  font-size: 45pt;
}

.subheading {
  margin-top: 1em;
  font-size: 25pt;
}

#free, #paid {
  margin-top: 1em;
  border: solid 4px white;
  border-radius: 2em;
}

#table_free, #table_paid {
  width: 100%;
  font-size: 25pt;
  border-collapse: separate;
  border-spacing: 0.3em;
}

.nav_holder {
  width: 5%;
  padding: 0 0.3em;
}

.nav_holder img {
  width: 0.7em;
  height: 7em;
}

a.navigate:hover .img_hover {
  display: inline-block;
}

a.navigate:hover .img_normal {
  display: none;
}

.apps {
  width: 40%;
}

.apps img {
  float: left;
  height: 3.5em;
  width: 3.5em;
  margin-right: 1em;
  border-radius: 0.5em;
}