@import url('https://fonts.googleapis.com/css?family=Cuprum');

body {
  background-color: #002138;
}

#container {
  max-width: 1280px;
  margin: 0 auto;
}

#top {
  width: 100%;
}

table{
  width: 100%;
}

#rec {
  margin: auto;
  width: 100%;
  border-spacing: 1em;
}

#content {
  font-family: "Cuprum";
  color: #FFFFFF;
  margin-top: 3em;
}

#total_score {
  font-size: 30pt;
}

.subheading {
  margin-top: 1em;
  font-size: 25pt;
  text-align: left;
}

#info, #review, #recommend {
  margin-top: 1em;
}

#review td:nth-of-type(2) {
  vertical-align: top;
}

#srcGame {
  font-size: 30pt;
  margin-bottom: 0.5em;
}

#tag {
  font-size: 24pt;
}

#heading {
  font-size: 45pt;
}

.info {
  border: solid 4px white;
  border-radius: 2em;
}

.info td:nth-of-type(1) {
  width: 30%;
}

#icon {				
  width: 8em;
  height: 8em;
  margin-left: 1.6em;
}			

#rec td {				
  border-radius: 1em;
  background-color: lightslategray;
  text-align: left;
}

#rec td > * {
  vertical-align: middle;
}

.recApp {		
  width: 6em;
  height: 6em;	
  border-radius: 1.2em;
  margin: 0.3em 4em 0.3em 0.3em;
}

#rec span {		
  font-size: 20pt;
}

#top_table td {
  font-family: "Cuprum";
  font-size: 25pt;
  color: #FFFFFF;				
}

#ratings{
  font-size: 50pt;
  text-align: center;
}

#more_review {
  font-size: 18pt;
  float: right;
}

#more_review span {
  vertical-align: top;
}

#more_review img {
  font-size: 20pt;
}

#more_recommend {
  font-size: 18pt;
  float: right;
}

#more_recommend span {
  vertical-align: top;
}

#more_recommend img {
  font-size: 20pt;
}

.comment {
  font-size: 24pt;
  margin-top: 0.9em;
}

.outer {
  font-family: "Cuprum";
  color: #FFFFFF;			
  text-align: right;				
  width: 45%;
}

.inner {
  height: 10em;  
  text-align: left;
}

#home {
  width: 4%;
}

#home div {
  height: 1em;
}

#home img {	
  height: 1em;
  margin-right: 0.3em;        
}

.img_hover {
  display: none;
}

#home a:hover .img_hover {
  display: inline-block;
}

#home a:hover .img_normal {
  display: none;
}

#top_table td:nth-of-type(2) {
  width: auto;
}

#user {
  width: 15%;
}

#bar {
  width: 1%;
}

#login {
  width: 5%;
}

#logout {
  width: 5%;
  display: none;
}

#search {
  font-family: "Cuprum";
  font-size: 20pt;
  color: rebeccapurple;
  background-color: #C4C4C4;
  width: 98%;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: orange;
}

#nav_review img {
  position: relative;
  height: 1em;
  margin-right: 0.3em;
}

#nav_review a:hover .img_hover {
  display: inline-block;
}

#nav_review a:hover .img_normal {
  display: none;
}

#nav_recommend img {
  position: relative;
  height: 1em;
  margin-right: 0.3em;
}

#nav_recommend a:hover .img_hover {
  display: inline-block;
}

#nav_recommend a:hover .img_normal {
  display: none;
}
