@import url('https://fonts.googleapis.com/css?family=Cuprum');
	body {
		background: #002138;
	}
	
	table {    
		width: 100%;
		max-width: 1080px;
		margin: auto;
    }
	
	p {
		font-family: 'Cuprum', sans-serif;
        font-size: 33.75pt;
        color: #FFFFFF;
    }
	
	#top td {
        font-family: 'Cuprum', sans-serif;
        font-size: 18.75pt;
        color: #FFFFFF;
        border: 0pt solid white;
    }
	
	#cell1 {
        width: 50px;
    }
	
	#cell3 {
        text-align: center;
        width: 60px;
    }
	
	#cell4 {
        text-align: center;
        width: 60px;
    }
	
	#cell1 img {
        width: 40px;
        height: 40px;                
    }
	
	#search {
        background-color: #C4C4C4;
        color: rebeccapurple;
        font-family: 'Cuprum', sans-serif;
        font-size: 18.75pt;
        width: 100%;
        height: 27px;
	}
	
	.bodysection {
        width: 33%;
	}
	
	.bodysection_centered {
		width: 33%;
		text-align: center;
	}
	
	#reviewnum {
		font-family: 'Cuprum', sans-serif;
		font-size: 90pt;
		color: #FFFFFF;
		width: 50px;
	}
	
	#bars {
		font-size: 18.75pt;
		line-height: 0.25;
	}
	
	#app_img {
		float: center;
	}
	
	#app_img img {
		border-radius: 4em;
		width: 300px;
		height: 300px;
	}
	
	.rectangle {
		height: 30px;
		width: 0px;
		background-color: #FFFFFF;
		transform:translate(30px,-50px);
	}
	
	.rectangle p {
		transform:translate(-30px,10px);
	}
	
	#page {
		border-spacing: 20px;
	}
	
	#title {
		font-size: 68pt;
		line-height: 0.25;
	}
	
	.star img {
		height: 50px;
		width: 50px;
	}
	
	#star1 {
		src: ./images/star.png;
	}
	
	.button {
		background-color: #4CAF50;
		border: none;
		color: white;
		padding: 16px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 12pt;
		margin: 4px 2px;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
		cursor: pointer;
	}
	
	.button1 {
		background-color: white;
		color: black;
		border: 2px solid #555555;
	}
	
	.button1:hover {
		background-color: orange;
		color: white;
	}
	
	a {
		color: white; text-decoration: none;
	}
	
	a:hover {
		color: orange;
	}