@import url('https://fonts.googleapis.com/css?family=Cuprum');

body {
  background-color: #002138;
}

body * {
  border: solid 1px red;
}

#container {
  max-width: 1280px;
  margin: 0 auto;
}

#top {
  width: 100%;
}

a { 
  color: white;
  text-decoration: none;
}
  
a.link:hover {
  color: orange;
}

#top_table {
  width: 100%;
}

#top_table td {
  font-family: "Cuprum";
  font-size: 25pt;
  color: #FFFFFF;
  border: 0pt solid white;
}

#home {
  width: 4%;
  padding: 0;
}

#home div {
  position: relative;
  height: 1em;
}

#home img {
  position: relative;
  height: 1em;
  margin-right: 0.3em;
}

#top_table td:nth-of-type(2) {
  width: auto;
}

#content {
  text-align:center;
  padding-top: 4em;
}

.search {
  background-color: #ffffff;
  width: 50%;
  display: inline-block;
}

.search input[type=text] {
  padding: 6px;
  height: 40px;
  width: 81%;
  border: none;
  font-size: 20pt;
  font-family: "Calibri";
}

.search button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  vertical-align: top;
}

.search img {
  height: 46px;
}